@import "primeicons/primeicons.css";

:root {
    --primary-color: #001B48;
    --secondary-color: #02457A;
    --tertiary-color: #018ABE;
    --quaternary-color: #97CAD8;
    --text-color: white;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    padding: 20px;
    margin: 20px;
    max-width: calc(100% - 40px);
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.btn {
    display: inline-flex;
    gap: 10px;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    border: 1px solid var(--secondary-color);
    width: 270px;
}

.btn > span,
.btn > h1 {
    flex: 1;
    text-align: center;
}

.btn:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 0.8rem;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
}

li {
    font-size: 1rem;
    width: 30;
}

.icon-btn:hover {
    background: #e3e9f3;
}

.icon-btn i {
    font-size: 1.5rem;
} 

.icon-btn.accept-button {
    background: #d4f5dd;
}

.icon-btn.decline-button {
    background: #f5d4d4;
}

.accept-button {
    color: green;
    background: #d4f5dd;
}

.decline-button {
    color: red;
    background: #f5d4d4;
}

.accept-button,
.decline-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #f0f0f0;
    transition: background 0.2s;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
    width: 55px;
    height: 55px
}

.accept-button:hover,
.decline-button:hover {
    opacity: 0.8;
}

label {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    border: 1px solid var(--primary-color);
}

input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
    box-shadow: none;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--tertiary-color);
    padding: 20px;
}