.enviar-container {
  display: flex;
  height: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  margin: 40px auto;
  width: 80vw;
}

.enviar-container-link {
  background: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  overflow: visible !important;
}

.enviar-col {
  display: flex;
  padding: 32px;
  box-sizing: border-box;
  width: 50%;
}

.file-upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.enviar-col-right {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.enviar-col-right-link {
  background: #fff !important;
  border-radius: 12px !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
  margin: 0 auto !important;
}

.enviar-col-right .enviar-forms {
  width: 100%;
}

.enviar-col-right .forms-tabs .tab {
  padding: 8px 0;
}

.enviar-col-right .forms-tabs .active {
  border-bottom: 4px solid var(--tertiary-color);
}

.enviar-col-right .forms-tabs {
  display: flex;
  justify-content: start;
  gap: 2rem;
  margin: 0 0 8px 24px;
  font-weight: bold;
  font-size: large;
}

.enviar-col-right .enviar-forms .enviar-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px;
}

.enviar-col-right .form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.enviar-col-right input[type="url"],
.enviar-col-right input[type="text"],
.enviar-col-right textarea,
.enviar-col-right select {
  max-width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background: #fafafa;
}

.enviar-col-right input[type="text"]:focus,
.enviar-col-right textarea:focus,
.enviar-col-right select:focus {
  border-color: var(--tertiary-color);
  outline: none;
}

.enviar-col-right textarea {
  resize: vertical;
  min-height: 100px;
}

.enviar-col-right .submit-button {
  margin-top: 12px;
  padding: 12px 0;
  border: 1px solid var(--secondary-color);
  color: #fff;
  background-color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  max-width: 80px;
}

.enviar-col-right .submit-button img {
  width: 32px;
  height: 32px;
  transition: filter 0.2s;
}

.enviar-col-right .submit-button:hover {
  background: var(--primary-color);
}

.enviar-col-right .submit-button:hover img {
  filter: brightness(0) invert(1);
}