.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 1px var(--primary-color);
}

.header-logo a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.header-logo a:hover {
    color: var(--secondary-color);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-button {
    margin: 0 5px;
    text-decoration: none;
}

.nav-button-circle {
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-button-circle img {
    width: 30px;
    height: 30px;
    /* Aplica a cor primária aos ícones usando o filtro */
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(500%) hue-rotate(210deg) brightness(90%) contrast(90%);
}

.nav-button-circle:hover {
    box-shadow: 0 4px 8px var(--hover-shadow);
}

.nav-button-circle:hover img {
    /* Altera a cor do ícone para a cor secundária ao passar o mouse usando o filtro */
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(90%) contrast(90%);
}

.menu-button-circle {
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}

.menu-button-circle img {
    width: 30px;
    height: 30px;
    /* Aplica a cor primária aos ícones do menu usando o filtro */
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(500%) hue-rotate(210deg) brightness(90%) contrast(90%);
}

.menu-button-circle:hover img {
    /* Altera a cor do ícone do menu para a cor secundária ao passar o mouse usando o filtro */
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(90%) contrast(90%);
}

.header-buttons .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.header-buttons .btn:hover {
    background-color: var(--secondary-color);
}

.login-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.register-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.register-btn:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
