.navbar {
    background-color: #333;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #DE8531;
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover {
    color: #EFAC41;
    /* Cor amarela clara */
}

.navbar-toggler {
    border-color: #B32900;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%233483fa' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu {
    background-color: #efac41;
}

.dropdown-item {
    color: #6C1305;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #FFFFFF;
    /* Cor branca */
    background-color: #EFAC41;
}

.navbar-nav .dropdown-toggle {
    color: #DE8531;
}

.navbar-nav .dropdown-toggle:active,
.navbar-nav .dropdown-toggle.show {
    color: #EFAC41;
    /* Cor amarela clara */
}

.menu-button {
    background-color: #4A2500;
    /* Dark green */
    color: #FFFFFF;
    /* White */
}

.menu-button-circle {
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    /* Make the button circular */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}

.menu-button-circle img {
    width: 30px;
    /* Adjust icon size */
    height: 30px;
}

.menu-button-circle:hover {
    /* background-color: #4b4747; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.header-logo a {
    color: #DE8531;
    text-decoration: none;
    font-size: 1.5rem;
}

.header-logo a:hover {
    color: #EFAC41;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-button {
    margin: 0 5px;
    text-decoration: none;
}

.nav-button-circle {
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-button-circle img {
    width: 30px;
    height: 30px;
}

.nav-button-circle:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}