.login-container {
    min-width: 450px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.login-container h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.cadastro-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-container i {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 80%;
    padding: 4px 8px;
}

.login-container i::before{
    padding: 16px 24px 16px 16px;
    margin: 4px;
    border-right: 1px solid #333;
}

.login-container input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--primary-color);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.login-container label {
    align-self: flex-start;
    font-size: 1rem;
    color: #333;
    margin-left: 5px;
}

.login-container button {
    width: 80%;
    max-width: 400px;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.login-container button:hover {
    background-color: var(--secondary-color);
}