.card {
    background-color: #F5F5DC;
    width: 300px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__photo {
    height: 100px;
    width: 75px;
}

.card__name {
    margin-left: 10px;
}

.card__links {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.card__links li {
    margin-right: 10px;
}

.card__notes {
    margin-top: 10px;
}
